@font-face {
    src: url(/assets/font/Poppins);
    font-family: "Poppins";
}

@font-face {
    src: url(/assets/font/DM_Sans);
    font-family: 'DM Sans';
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #ffffff;
    display: flex;
}

.home {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
}
.home .blue-large {
    width: 610px;
    height: 1220px;
    background-color: #5956e9;
    position: absolute;
    z-index: -1;
    top: -98px;
    right: 0;
    border-bottom-left-radius: 1220px;
    border-top-left-radius: 1220px;
}

.home .large-yellow-ball img {
    opacity: 70%;
    width: 24vw;
    height: 48vh;
    margin-top: -12rem;
    margin-left: -12rem;
    position: absolute;
    z-index: -2;
}

.home .large-purple-ball img {
    width: 50vw;
    height: 100vh;
    /* margin-top: -120px;
    margin-left: -120px; */
    position: absolute;
    z-index: -2;
}

.home .yellow-ball img {
    opacity: 70%;
    width: 7vw;
    height: 14vh;
    margin-top: 15rem;
    margin-left: 46rem;
    position: absolute;
    z-index: -2;
}

.home .pink-ball img {
    width: 3vw;
    height: 6vh;
    margin-top: 30rem;
    margin-left: 10rem;
    position: absolute;
    z-index: -1;
}

.home .purple-ball img {
    width: 2vw;
    height: 4vh;
    margin-top: 48rem;
    margin-left: 50rem;
    position: absolute;
    z-index: -1;
}

.home .white-ball img {
    /* opacity: 70%; */
    /* width: 20vw; */
    /* height: 40vh; */
    /* margin-top: -120px;
    margin-left: -120px; */
    position: absolute;
    z-index: -1;
}

.home .body-home {
    line-height: 1.5;
    width: 100%;
}


.home .body-home .header-container {
    margin: 50px auto 0;
    width: 90%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "links links links search search";    
}

.home .body-home .header-container .links-container {
    grid-area: links;
    display: flex;

    align-items: center;
    justify-content: center;
}


.home .body-home .header-container .links-container .header-item {
    padding: 0 40px 0 40px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #797878;
    line-height: 1.5;
    cursor: pointer;
}

.home .body-home .header-container .search-container {
    grid-area: search;
    display: flex;

    align-items: center;
    justify-content: flex-end;
}

.home .body-home .header-container .search-container .get-started {
    height: 70px;
    width: 180px;

    background-color: #FAB8C4;
    border-radius: 20px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2522BA;
    line-height: 1.5;
    margin: 0 90px 0 0;
}

.home .body-home .body-home-container {
    display: grid;
    grid-template-columns: 400px 600px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.home .body-home .body-home-container .title-box-container {
    margin-top: 85px;
}

.home .body-home .body-home-container .title-box-container .title-box-content .title-box {
    font-family: 'DM Sans', sans-serif;
    font-size: 96px;
    font-weight: 500;
    color: #292930;
    line-height: 1;
}

.home .body-home .body-home-container .title-box-container .paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #999FAE;

    margin-top: 20px;
}

.home .body-home .body-home-container .img-home .home-pic-3 {
    margin-top: 90px;
    max-width: 800px;
    max-height: 800px;
    align-items: center;
    z-index: -1;
}

